<md-grid-list cols="{{ cols }}" rowHeight="{{ height }}">

  <md-grid-tile class="progress">
    <span class="text">
      {{ temperature }}°C
    </span>
    <md-progress-circle mode="determinate" [value]="temperaturePercentage" color="warn"></md-progress-circle>
  </md-grid-tile>

  <md-grid-tile class="progress">
    <span class="text">
      {{ humidity }}%
    </span>
    <md-progress-circle mode="determinate" [value]="humidity" color="primary"></md-progress-circle>
  </md-grid-tile>

</md-grid-list>
