:host() {
  min-height: calc(100% - 30px);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  padding-top: 1em;
}

.container {
  background-color: white;
  width: 360px;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.title {
  text-align: center;
}

.footer {
  /*position: absolute;
  bottom: 0;*/
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.footer a {
  flex: 1 0 auto;
  text-align: center;
}
