:host() {
  min-height: calc(100% - 30px);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  padding-top: 1em;
}

.container {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.container.narrow {
  width: 360px;
}

.container.wide {
  width: 100%;
}

.content {
  flex: 1 0 auto;
}

.container.wide .content { margin: 0 auto; }

.title {
  text-align: center;
}

.narrow md-grid-list {
  margin: 0 5px;
}

.container.wide app-sensors   { width: 100%; }
.container.wide app-switches  { width: 100%; }
.container.wide app-actuators { width: 100%; }

.md-tab-label {
  flex: 1;
}
