img {
  width: 100%;
}

.camera {
  position: relative;
}

.loading {
  position: absolute;
  top: 10px;
  left: 10px;
  display: block;

  /* Hide the text. */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;

  width: 30px;
  height: 30px;
  background-color: #ccc;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}
